/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
font-family: 'Poppins', sans-serif; */

/* https://coolors.co/c21e56-e2657c-f5f5f5-f6b379-f49e52-96ced9-69b9c9 */
/* https://fonts.google.com/specimen/Catamaran?preview.text=header%20content%20i%20cant%20spell&preview.text_type=custom*/

body, html {
    font-family: Arial, Helvetica, sans-serif;
  }

.navbar{
    overflow: hidden;
    background-color: #A71C4B;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a{
    float: left;
    display: black;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover{
    background: #E2657C;
    color: black;
}

.content{
    padding: 16px;
    margin-top: 30px;
    height: 75rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #F1FAEE;
    text-align: center;
    background: #A71C4B;
}

iframe{
    margin-top: 5rem;
    margin-left: 35%;
}

.imG{
    max-width: 100%;
    max-height: 50%;
}
  
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/pexels-james-wheeler-1519088.jpg);
    height: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 1rem;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  

.cabutton {
    align-items: center;
    background-color: rgb(255, 0, 0);
    border-radius: 8px;
    font-size: 15px;
}

.cabutton a::hover {
    color: lawngreen;
}

.cabutton a {
    text-decoration: none;
    color: #fff;
}


.row {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    margin-top: 2em;
    border: lightcoral;
}

.row.full{
    width: 2000vw;
}

.quarters article{
    width: 200;
}

.thirds article{
    width: 200%;
}

.twothirds article:first-child{
    width: 200%;
}

.twothirds article:last-child{
    width: 200%;
}

.halves article{
    width: 200%;
}

.cards article h2,
.cards article h3,
.cards article p,
.card h2,
.card h3, 
.card p{
    padding: 0 1rem;
}

.cards article a,
.card a{
    margin-right: 1rem;
    margin-bottom: 1rem;
}


@media screen and (max-width: 768px){
    body, html {
        font-family: Arial, Helvetica, sans-serif;
      }
    
    .navbar{
        overflow: hidden;
        background-color: #A71C4B;
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    .navbar a{
        float: left;
        display: black;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    
    .navbar a:hover{
        background: #E2657C;
        color: black;
    }
    
    .content{
        padding: 16px;
        margin-top: 30px;
        height: 75rem;
    }
    
    .footer {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        left: 0;
        bottom: 0;
        width: 100%;
        color: #F1FAEE;
        text-align: center;
        background: #A71C4B;
    }
    
    iframe{
        margin-top: 1rem;
    }
    
    .imG{
        max-width: 100%;
        max-height: 50%;
    }
      
      .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/pexels-james-wheeler-1519088.jpg);
        height: 20%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-top: 1rem;
      }
      
      .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
      }
      
    
    .cabutton {
        align-items: center;
        background-color: rgb(255, 0, 0);
        border-radius: 8px;
        font-size: 15px;
    }
    
    .cabutton a::hover {
        color: lawngreen;
    }
    
    .cabutton a {
        text-decoration: none;
        color: #fff;
    }
    
    
    .row {
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        margin-top: 2em;
    }
    
    .row.full{
        width: 2000vw;
    }
    
    .quarters article{
        width: 200;
    }
    
    .thirds article{
        width: 200%;
    }
    
    .twothirds article:first-child{
        width: 200%;
    }
    
    .twothirds article:last-child{
        width: 200%;
    }
    
    .halves article{
        width: 200%;
    }
    
    .cards article h2,
    .cards article h3,
    .cards article p,
    .card h2,
    .card h3, 
    .card p{
        padding: 0 1rem;
    }
    
    .cards article a,
    .card a{
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 480px){
    body, html {
        font-family: Arial, Helvetica, sans-serif;
      }
    
    .navbar{
        overflow: hidden;
        background-color: #A71C4B;
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    .navbar a{
        float: left;
        display: black;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    
    .navbar a:hover{
        background: #E2657C;
        color: black;
    }
    
    .content{
        padding: 16px;
        margin-top: 30px;
        height: 75rem;
    }
    
    .footer {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        left: 0;
        bottom: 0;
        width: 100%;
        color: #F1FAEE;
        text-align: center;
        background: #A71C4B;
    }
    
    iframe{
        margin-top: 1rem;
        max-width: 10%;
        max-height: 10%;
    }
    
    .imG{
        max-width: 100%;
        max-height: 50%;
    }
      
      .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/pexels-james-wheeler-1519088.jpg);
        height: 20%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-top: 1rem;
      }
      
      .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
      }
      
    
    .cabutton {
        align-items: center;
        background-color: rgb(255, 0, 0);
        border-radius: 8px;
        font-size: 15px;
    }
    
    .cabutton a::hover {
        color: lawngreen;
    }
    
    .cabutton a {
        text-decoration: none;
        color: #fff;
    }
    
    
    .row {
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        flex-direction: column; 
        justify-content: space-between;
        margin-top: 2em;
    }
    
    .row.full{
        width: 2000vw;
    }
    
    .quarters article{
        width: 200;
    }
    
    .thirds article{
        width: 200%;
    }
    
    .twothirds article:first-child{
        width: 200%;
    }
    
    .twothirds article:last-child{
        width: 200%;
    }
    
    .halves article{
        width: 200%;
    }
    
    .cards article h2,
    .cards article h3,
    .cards article p,
    .card h2,
    .card h3, 
    .card p{
        padding: 0 1rem;
    }
    
    .cards article a,
    .card a{
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}