/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
font-family: 'Poppins', sans-serif; */

/* https://coolors.co/c21e56-e2657c-f5f5f5-f6b379-f49e52-96ced9-69b9c9 */

*{
    box-sizing: border-box;
}

html {
    text-decoration: none;
    
} 

html, body{
    min-height: 100%;
    background: whitesmoke;
    margin: 0;
}

a{text-decoration: none;}

/* main nav bar*
.main-nav{
    padding: 0;
    top: 0;
    width: 0;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    transition: width 0.3s ease;
    background-color: aqua;
}

    .main-nav a{
        display: block;
        padding: 15px;
        background: aqua;
        color: white;
    }
    
    .main-nav a:hover{
        color: white;
        background: red;
    }

    .main-nav a :after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 34px;
        background: aqua;
    }

/* main header *
.main-header{
    position: fixed;
    padding: 5px;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: all 0.3s ease;
    text-align: center;
    background: pink;
    color: lightcoral;
 }
    .main-header a{
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 32px;
        color: white;
    }

.page-wrap{
    float: right;
    width: 100%;
    transition: width 0.3s ease;
}

.content{
    padding: 100px 10px 10px 10px;
}

.close-menu{
    display: none;
}

#main-nav:target{
    width: 20%;
}

#main-nav:target + .page-wrap{width: 80%;}

    #main-nav:target + .page-wrap .open-menu{
        display: none;
    }

    #main-nav:target + .page-wrap .close-menu{
        display: block;
    }

    #main-nav:target + .page-wrap .main-header{
        width: 80%;
        left: 20%;
    }*/

 .footer {
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #F1FAEE;
    text-align: left;
    background: #8396b1;
    }

@keyframes tonext{
    75%{
        left: 0;
    }
    95%{
        left: 100%;
    }
    98%{
        left: 100%;
    }
    99% {
        left: 0;
    }
}

@keyframes tostart{
    75%{
        left: 0;
    }
    95%{
        left: -300%;
    }
    98%{
        left: -300%;
    }
    99%{
        left: 0;
    }
}

@keyframes snap{
    96%{
        scroll-snap-align: center;
    }    
    97%{
        scroll-snap-align: none;
    }
    99%{
        scroll-snap-align: none;
    }
    100%{
        scroll-snap-align: center;
    }
}

.cabutton {
    align-items: center;
    background-color: rgb(255, 0, 0);
    border-radius: 8px;
    font-size: 15px;
}

.cabutton a::hover {
    color: lawngreen;
}

.cabutton a {
    text-decoration: none;
    color: #fff;
}

.row {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    margin-top: 2em;
}

.row.full{
    width: 100vw;
}

.quarters article{
    width: 23%;
}

.thirds article{
    width: 30%;
}

.twothirds article:first-child{
    width: 64%;
}

.twothirds article:last-child{
    width: 32%;
}

.halves article{
    width: 48%;
}

.cards article h2,
.cards article h3,
.cards article p,
.card h2,
.card h3, 
.card p{
    padding: 0 1rem;
}

.cards article a,
.card a{
    margin-right: 1rem;
    margin-bottom: 1rem;
    float: right;
}