@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


html {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html a {
    text-decoration: none;
}

/* https://coolors.co/c21e56-e2657c-f5f5f5-f6b379-f49e52-96ced9-69b9c9 */
/*
 *{
    box-sizing: border-box;
}

html, body{
    min-height: 100%;
    background: whitesmoke;
    margin: 0;
}

a{text-decoration: none;}

/* main nav bar *
.main-nav{
    padding: 0;
    top: 0;
    width: 0;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    transition: width 0.3s ease;
    background-color: aqua;
}

    .main-nav a{
        display: block;
        padding: 15px;
        background: aqua;
        color: white;
    }
    
    .main-nav a:hover{
        color: white;
        background: turquoise;
    }

    .main-nav a &:after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 34px;
        background: aqua;
    }

/* main header *
.main-header{
    position: fixed;
    padding: 5px;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: all 0.3s ease;
    background: blue;
 }
    .main-header a{
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 32px;
        color: white;
    }

.page-wrap{
    float: right;
    width: 100%;
    transition: width 0.3s ease;
}

.content{
    padding: 100px 10px 10px 10px;
}

.close-menu{
    display: none;
}

#main-nav:target{
    width: 20%;
}

#main-nav:target + .page-wrap{width: 80%;}

    #main-nav:target + .page-wrap .open-menu{
        display: none;
    }

    #main-nav:target + .page-wrap .close-menu{
        display: block;
    }

    #main-nav:target + .page-wrap .main-header{
        width: 80%;
        left: 20%;
    }

.footer {
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #F1FAEE;
    text-align: center;
    background: #142742;
} 
*/

.cabutton {
    align-items: center;
    background-color: rgb(255, 0, 0);
    border-radius: 8px;
    font-size: 15px;
}

.cabutton a::hover {
    color: lawngreen;
}

.cabutton a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #fff;
}